<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myow.user.system.infrastructure.persistence.mapper.MenuMapper">

    <select id="selectMenuListByRoleIdList" resultType="com.myow.user.system.infrastructure.persistence.po.MenuDO">
        SELECT
        DISTINCT sys_menu.*
        FROM sys_menu
        LEFT JOIN sys_role_menu ON sys_role_menu.menu_id = sys_menu.menu_id
        WHERE 1=1
        <if test="roleIdList != null and roleIdList.size() > 0">
            AND sys_role_menu.role_id IN
            <foreach item="item" index="index" collection="roleIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="deleteFlag != null">
            AND sys_menu.delete_flag = #{deleteFlag}
        </if>
        ORDER BY sys_menu.sort ASC
    </select>
</mapper>
