<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myow.user.system.infrastructure.persistence.mapper.RoleMapper">


    <select id="getRoleByUserIdList" resultType="com.myow.user.system.application.vo.RoleUserVO">
        SELECT
        sys_user_role.role_id,
        sys_user_role.user_id,
        sys_role.role_name
        FROM
        sys_user_role
        LEFT JOIN sys_role ON sys_role.role_id = sys_user_role.role_id
        WHERE
        sys_user_role.user_id in
        <foreach collection="userIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>

    <select id="getRoleByUserId" resultType="com.myow.user.system.infrastructure.persistence.po.RoleDO">
        SELECT sys_role.*
        FROM sys_user_role
                 LEFT JOIN sys_role ON sys_role.role_id = sys_user_role.role_id
        WHERE sys_user_role.user_id = #{userId}

    </select>


</mapper>
