<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myow.user.system.infrastructure.persistence.mapper.UserMapper">

    <select id="selectPage" resultType="com.myow.user.system.infrastructure.persistence.po.UserDO">
        SELECT
        sys_user.*,
        sys_dept.dept_name
        FROM sys_user
        LEFT JOIN sys_dept ON sys_dept.dept_id = sys_user.dept_id
        <where>
            <if test="queryForm.keyword != null and queryForm.keyword != ''">
                AND (
                INSTR(sys_user.nick_name,#{queryForm.keyword})
                OR INSTR(sys_user.phone,#{queryForm.keyword})
                OR INSTR(sys_user.user_name,#{queryForm.keyword})
                )
            </if>
            <if test="departmentIdList != null and departmentIdList.size > 0">
                and
                sys_user.dept_id
                in
                <foreach collection="departmentIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.status != null">
                AND sys_user.status = #{queryForm.status}
            </if>
        </where>

    </select>
</mapper>
